<h1 align="center">Add Employee</h1>

<form method="post">
    <center>
        Enter Date: (dd/mm/yyyy)<br>
        <input type="text" name="date"><br>
        Enter Work Description: <br>
          <input type="text" name="desc"><br>
          Enter Duration in Hours:<br>
            <input type="number" name="duration"><br>
            Enter Status(Completed/not completed/in Progress):<br>
              <input type="text" name="status"><br>
              <input type="submit" value="submit">
    </center>
    </form>