@using BOL;
@{
    List<Employee> list  = new List<Employee>();
    list=ViewData["Employee"] as List<Employee>;
}
<div>
    
    <h1 align="center">TimeSheet</h1>
    <a href="./Add"><button>Add Employee</button></a>
    <center>
        <table border="2px" class="table table=boprdered,table=light">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Work Description</th>
                    <th>Duration in Hours</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach(Employee e in list)
                {
                    <tr>
                        <td>@e.date</td>
                        <td>@e.workDescription</td>
                        <td>@e.Duration</td>
                        <td>@e.status</td>
                        <td><button>Details</button></td>
                    </tr>
                }
            </tbody>
        </table>
    </center>
</div>