

<div align="center" border="3px">
<form Method="Post" >
id
<br>
<input type ="text" name="id"   >
<br>
namefirst
<br>
<input type="text" name="namefirst" >
<br>
namelast
<br>
<input type="text" name="namelast" >
<br>
email
<br>
<input type="text" name="email" >
<br>
<button type="submit">Add</button>
<br>
</form>
</div>
