
@using BOL;
@{
    List<Student> slist=new List<Student>();
    slist=ViewData["student"]as List<Student>;



}
<a href="./Add"><button>Add</button><a>
<h1 align="center">Student Detail</h1>

<table border="2px" align="center">
<thead border="2px"> 
<tr >
<th>id</th>
<th>namefirst</th>
<th>namelast</th>
<th>email</th>
<th>Edit</th>
<th>Detail</th>
</tr>
</thead>
<tbody>
@foreach(Student s in slist){
    <tr>
    <td>@s.id</td>
    <td>@s.namefirst</td>
    <td>@s.namelast</td>
    <td>@s.email</td>
    <td><a href="./Edit/@(s.id)" ><button>Edit</button></a></td>
    <td><a href="./Delete/@(s.id)"><button>Delete</button></a></td>
    </tr>
}
</tbody>

</table>
