<html>
<head> 
<title> Adding Student </title>
</head>
<body>
<form method="post">
<h5> Insert Student </h5><br>
<pre>Roll:     <input type="number" name=number placeholder="Roll No."><br></pre>
<pre>nameFirst: <input type="text" name=nameFirst placeholder="First Name"><br></pre>
<pre>nameLast: <input type="text" name=nameLast placeholder="Last Name"><br><br></pre>
<pre>
 <input type="submit" value="submit">
</pre>
</form>
</body>
</html>