@using Model;
@{
    List<Student> list=new List<Student>();
    list=ViewData["Data"] as List<Student>;
}

<h1 align="center"> Student Details </h1>
<table border="2px" align="center">
<thead border="2px">
<tr>
<th>Roll No.</th>
<th>First Name</th>
<th>Last Name</th>
<th>Edit</th>
<th>details</th>
</tr>
</thead>
<tbody>
@foreach(Student s in list)
{
    <tr>
    <td> @s.roll </td>
    <td> @s.nameFirst </td>
    <td> @s.nameLast </td>
     <td> <a href="Home/List/Edit/@s.roll"><button>Edit</a></td>
    <td> <a href="Home/List/Details/@s.roll"><button>Details</a></td>
    </tr>
}
</tbody>
</table>