@{
    ViewData["Title"] = "Home Page";
    @* String msg = ViewData["msg"] as String; *@
}

<div class="text-center">
    @* <p>@msg</p> *@
    <form method="post">
        Username:<input type="text" name="user">
        passWord:<input type="text" name="pass">
        <button type="submit">submit</button>
    </form>
</div>
