<center>
<div class="card text-center" style="width: 300px;">
    <div class="card-header h5 text-white bg-primary">Password Reset</div>
    <div class="card-body px-5">
        <p class="card-text py-2">
            Enter your Favourite to reset your password.
        </p>
        <br>
        <form method="post">
        <div class="form-outline">
         <label class="form-label" for="typeID">Favourite</label>
            <input type="text" id="typeID" name="fav" class="form-control my-3" />
        </div>
        <div class="form-outline">
            <label class="form-label" for="ID">New Password</label>
            <input type="text" id="ID" name="reset" class="form-control my-3" />
        </div>
        <input type="submit" class="btn btn-primary w-100">Reset password</a>
        <div class="d-flex justify-content-between mt-4">
            <a class="" href="http://localhost:5180/Home/Login">Login</a>
            <a class="" href="http://localhost:5180/">Register</a>
            </form>
        </div>
    </div>
</div>
</center>