@{
    ViewData["Title"] = "Welcome Page";
}

<div class="text-center">
  <ul>
   @foreach (var student in ViewData["Student"] as List<string>)
        { 
            <li>@student </li>
      }  
</ul>
</div>
