@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div align="center">
    <h2>Welcome To Pranay's World 😊</h2>
    <img src="\Images\pranay.jpg" width="100" height="100"/>
    <p>Know about <a href="https://github.com/PranayBisan45">Pranay Bisan</a>.</p>
    </div>
</div>
